p {color: blue; text-align: center;
     text-overflow: clip;
     background-color: aquamarine; 
     font-size: 65px;} 
h1 { color: red; font-size: 30px; background-color: yellow; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;} 
